
header{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}



.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    height: 90vh;
}

.dashboard-container h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.dashboard-container p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.dashboard-container button{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}