/* Cabeçalho com logo e slogan */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.logo-header {
    width: 150px;
    margin-bottom: 10px;
}

.slogan {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin: 0;
}


.main-body {
    position: relative;
    width: 100%;
    background-image: url('./imgs/fotofundologin.png');
    background-size: cover;
    background-position: center;
}

