

.main-body {
    position: relative;
    width: 100%;
    background-image: url('.//imgs/siblings-playing-with-brain-teaser-toys.jpg');
    background-size: cover;
    background-position: center;
}

